<ion-header>

</ion-header>

<ion-content>
  <div class="background-container">

    <div class="background-filter">

    <ion-card>

      <ion-card-header>
        <!-- <ion-img [src]="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYN7OUmUoH890zrM_hwvniLp0kQzGtHZ0gKWzxIVRbUOnxPImBCAwoNSKSgTf72cjzsV8&usqp=CAU"></ion-img> -->
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYN7OUmUoH890zrM_hwvniLp0kQzGtHZ0gKWzxIVRbUOnxPImBCAwoNSKSgTf72cjzsV8&usqp=CAU" alt="">
      </ion-card-header>

      <ion-card-title>
        Welcome to Ours Fresh Fruits Shop
      </ion-card-title>

      <ion-card-content>
        <ion-button>Login</ion-button>
      </ion-card-content>

    </ion-card>
  </div>
</div>
</ion-content>
