<ion-header>

</ion-header>

<ion-content>
  <div class="background-pic">
    <div class="background-filter">
      <!-- <div class="shape">
        <img src="" alt="">
      </div> -->

      <ion-card>
        <ion-card-header>
          <ion-card-title>Forget Passord</ion-card-title>
          <ion-card-subtitle>Time to shop, lets <a href="#">Sign in</a> </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            <ion-input type="email" placeholder="email"></ion-input>
          </ion-item>


          <div class="button-section">
            <ion-button>Reset Password</ion-button>
          </div>


        </ion-card-content>
      </ion-card>

    </div>
  </div>
</ion-content>
